* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #808080;
  font-family: "Quicksand", sans-serif;
  transition: background-color 0.4s ease-in-out;
  
}

.svgPathColor {
  fill: #808080;
  transition: fill 0.4s ease-in-out;
}

.about {
  background-color: #5441f0;
}
.tutorial {
  background-color: #dc143c;
}

.social {
  background-color: #EDD837;
}
.connect {
  background-color: #2FBD50;
}

nav {
  background: white;
  height: 157.58px;
  width: 100%;
  position: fixed;
  top: 0; /* Ensures the nav stays at the top */
  z-index: 998; /* Ensures it's above other content */
}

nav ul {
  float: right;
  margin-right: 40px;
  margin-top: 39.395px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #808080;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  font-weight: 600;
}

nav ul li a:hover {
  color: white;
  background-color: #808080;
}

a.active {
  background: #808080;
  color: white;
}

a.color-active {
  background: #5441f0;
  color: white;
}

a.color2-active {
  background: #dc143c;
  color: white;
}

a.color3-active {
  background: #EDD837;
  color: white;
}

a.color4-active {
  background: #2FBD50;
  color: white;
}

@media (max-width: 952px) {
  nav ul li a {
    display: none;
  }
}

.home-button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 39.395px;
}

h1 {
  font-family: "Quicksand", sans-serif;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 200px; /* Adjusted margin top to position below the nav */
  font-size: 90px;
}

h2 {
  font-family: "Quicksand", sans-serif;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 12px;
  font-size: 48px;
}

.abouth2 {
  color: #5441f0;
  margin-top: 25px;
}

.tutorialh2 {
  color: #dc143c;
  margin-top: 25px;
}

.socialh2 {
  color:#808080
}

.Homeh2 {
  color:#808080;
  font-size: 24px;
  margin-bottom: 20px;
  
}
.Homeh3 {
  color:#808080;
  font-size: 48px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.p-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;

  
}

.p2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}

p {
  font-family: "Quicksand", sans-serif;
  color: #808080;
  margin-left: 0px;
  font-size:1.6rem;
  font-weight: 500;
  
  
}

/* p2 {
  font-family: "Quicksand", sans-serif;
  color: #808080;
  margin-left: 50%;
  margin-left: 25%;
  margin-top:25px;
  font-size: 60px;
} */

.board {
  background-color: white;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-right: 5%;
  margin-left: 5%;
  text-align: center; /* Center the content horizontally */
  border-radius: 30px;
  margin-top: 4%;
  margin-bottom: 4%;
  overflow: hidden; /* Ensure contents do not overflow outside the board */
}

.space {
  height: 24px;
  width: 100%;
}

.sheets {
  position: relative;
  height: 60vmin;
  width: calc(60vmin / 1.4);
  background-color: #white;
  background-size: 70px 120px;
  margin: calc(40vmin / 10);
  border-radius: calc(40vmin / 20);
  display: inline-block;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  
}

/* Everything Below this point is the Inspiration Machine */

/* Cards for Colors */
.label-container2 {
  text-align: center; /* Center the content horizontally */
}

label .cardWrapper2 {
  position: relative;
  height: 40vmin;
  width: calc(40vmin / 1.4);
  background-color: #282828;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50.8 50.8' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M30.055 8.894a2.097 2.077 0 0 0-2.812.928l-.041.082a2.097 2.077 0 0 0 .936 2.785 2.097 2.077 0 0 0 2.815-.928l.039-.079a2.097 2.077 0 0 0-.937-2.788Z' style='color:%23fff;fill:%23fff;stroke-width:1;stroke-linecap:round;-inkscape-stroke:none'%3E%3C/path%3E%3Cpath d='M33.173 29.96c-.223 3.331 2.662 5.045 4.393 5.045 3.593 0 6.046-3.168 7.026-7.72 1.146-5.324-.505-9.787-3.881-9.787-2.222 0-6.425 2.857-7.538 12.463M16.6 10.39c-5.505-.992-6.136 3.72-7.01 10.453L7.21 39.178m8.03-19.648h-9.4m16.996-9.267-3.053 24.678m8.64-17.17-2.116 17.17m5.664 5.6 2.572-22.87' style='fill:none;stroke:%23fff;stroke-width:3.17501;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-size: 70px 120px;
  margin: calc(40vmin / 10);
  border-radius: calc(40vmin / 20);
  overflow: hidden;
  display: inline-block;
  transition: transform 200ms linear, box-shadow 100ms linear;
  transform: rotateY(180deg);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-repeat: no-repeat;
  background-position: center center;
}
input:checked + label .cardWrapper2 {
  transform: rotateY(0deg);
}
.cardRandom2 {
  width: 0%;
  height: 0%;
  background-color: white;
  opacity: 1;
  cursor: pointer;
  transition: opacity 1ms linear 100ms;
}
.cardWrapper2:hover {
  filter: brightness(0.98);
}
input:focus + label .cardWrapper2 {
  box-shadow: 0 0 calc(40vmin / 100) 0 rgba(0, 0, 0, 0);
}
input:checked + label .cardRandom2 {
  opacity: 0;
}
.cardRandom2 {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ffffff; /* Set background color to white */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 200ms linear, box-shadow 100ms linear;
  transform: rotateY(0deg);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
}

.cardRandom2 .colorSquare {
  width: 60%; /* Adjust size as needed */
  height: 50%; /* Adjust size as needed */
  border-radius: 8px; /* Adjust border radius */
  margin-bottom: 30px; /* Spacing below the color square */
  background-color: #808080;
}

.cardRandom2 .hexCode {
  font-family: "Mulish", sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #000;
  transform: rotateY(180deg);
}

input:checked + label .cardRandom2::before {
  animation-play-state: running;
}

input {
  height: 0;
  width: 0;
  border: none;
  outline: none;
  display: none;
}
@keyframes randomCard {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* contact form */

.container {
  border-radius: calc(40vmin / 20);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white; 
  margin-bottom: 30px;
}


h6 {
  font-size:2rem;
  margin-bottom:1rem;
  color: #2FBD50;
}
.form-container {
  display:flex;
}

.left-container {
  flex:1;
  height:480px;
  background-color: ;
}
.right-container {
  display:flex;
  flex:1;
  height:460px;
  background-color: $white;
  justify-content:center;
  align-items:center;
}

.left-container {
  display:flex;
  flex:1;
  height:480px;
  justify-content:center;
  align-items:center;
    color:$white;
}

.left-container p {
  font-size:1.6rem;
  font-weight: 500;
}

.right-inner-container {
  width:70%;
  height:80%;
  text-align:center;
}

.left-inner-container {
  width:70%;
  height:80%;
  text-align:center;

}

input, textarea {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  font-size:0.8rem;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input:focus, textarea:focus{
  outline:1px solid $teal;
}

button {
  border-radius: 3px;
	border: 1px solid #2FBD50;
	background-color: #2FBD50;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
  font-family:"Quicksand", sans-serif;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor:pointer;
}

button:hover {
  opacity:0.7;
}

form p {
  text-align:left;
}

@media only screen and (max-width: 600px) {
  .left-container{
    display: none;
  }
  .lg-view {
    display:none;  
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display:none;  
  }
}


/* Tablet */

@media screen  and (max-width: 1000px)
{
  h1{
font-size: 60px;
  }
  .cardRandom2 .hexCode {
    font-size: 28px;
  }
  p {
    font-size: 1.5em;
  }
  .left-container p {
    font-size:1.5rem;
  }
}
/* Phone */

@media screen  and (max-width: 600px)
{
  .cardRandom2 .hexCode {
    font-size: 20px;
  }
  p {
    font-size: .9em;
  }
  .left-container p {
    font-size:.8rem;
  }
}


